RewriteEngine On
RewriteRule ^(.*)\.json$ $1.html [L]
ErrorDocument 404 https://covid19jatim.agunghari.com/maps.json
RewriteRule ^$ https://covid19jatim.agunghari.com/maps.json [L,R=301]
DirectoryIndex maps.html